.movie-details p {
  padding: 0;
}

.info-color {
  color: #869aac;
  font-size: 14px;
  text-align: justify;
}

.title-color {
  color: white;
  font-size: 18px;
}

.font-resume {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  text-align: justify;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
}

.backdrop-wrapper {
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(48, 48, 48, 0), #000000);
}

.backdrop-wrapper img {
  width: 100%;
  height: 100%;
}

.poster {
  width: 116px;
  height: 174px;
  border-radius: 2px;
  margin-right: 16px;
  flex-shrink: 0;
  position: relative;
  top: -52px;
  margin-bottom: -52px;
}

.poster img {
  width: 100%;
  height: 100%;
}

.play-button {
  width: 68px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.info p {
  padding: 0;
  margin: 0;
}

.info-wrapper {
  margin: 16px;
  display: flex;
}




@media (min-width: 1200px) {
  .poster {
    width: 200px;
    height: 300px;

    margin-bottom: -100px;
  }
}

@media (min-width: 768px) {
  .poster {
    width: 148px;
    height: 222px;
  }

  .play-button {
    width: 98px;
  }
}

@media (min-width: 992px) {
  .poster {
    width: 184px;
    height: 276px;
    top: -100px;
  }

  .movie-details {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 48px;
  }


  .backdrop-wrapper img {
    height: auto;
  }
}

.favorite-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 42px;
  height: 42px;
  border: 1px solid var(--white-disabled);
}

.favorite-icon i {
  font-size: 24px;
}

.favorite-active {
  color: #ffab4f;
}

.favorite-inactive {
  color: rgba(255, 255, 255, 0.86);
}