* {
  margin: 0;
  padding: 0;
}

.search-bar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  margin-top: 24px;
  border-radius: 2px;
  background-color: #2F3B52;
  border: 1px solid #44556B;
}

.search-bar:focus-within {
  background-color: #ffffff;
  border: solid 1px #ffffff;
}

.search-bar:focus-within i {
  color: #242E42;
}

.search-bar ::-webkit-input-placeholder {
  color: var(--white-disabled);
}

.search-bar :-ms-input-placeholder {
  color: var(--white-disabled);
}

.search-bar ::-ms-input-placeholder {
  color: var(--white-disabled);
}

.search-bar ::placeholder {
  color: var(--white-disabled);
}

input:focus::-webkit-input-placeholder {
  color: var(--black-disabled);
}

input:focus::-moz-placeholder {
  color: var(--black-disabled);
}

input:focus:-ms-input-placeholder {
  color: var(--black-disabled);
}

.search-bar i {
  padding: 12px;
  color: var(--white-high-emphasis);
}

.search-bar .icon-close {
  display: initial;
}

.search-bar .icon-close:hover {
  cursor: pointer;
}

.search-bar .search-view {
  outline: none;
  width: 100%;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;
  border: none;
}

.search-bar .search-view:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.87);
}

/* Autosuggest */

.react-autosuggest__container {
  width: 100%;
  border: none;
}

.react-autosuggest__container input {
  padding-left: 0 !important;
  height: 42px;
  letter-spacing: 0.8px;
  font-size: 16px;
  border: none;
  background: transparent;
  color: var(--white-high-emphasis)
}

.react-autosuggest__container input:focus {
  color: var(--black-high-emphasis)
}

.react-autosuggest__container--open input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  text-align: left;
  width: 100%;
  font-size: 16px;
  left: 0;
  line-height: 1.75;
  letter-spacing: 0.5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  top: 47px
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  border: solid 1px #44556b;
  background-color: var(--color-secondary);
  font-weight: 300;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.react-autosuggest__suggestion {

  padding: 8px 16px;
  cursor: pointer;
}

.react-autosuggest__input--focused {
  background: #000;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgba(255, 255, 255, 0.1);
}

.searchResult-text {
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.searchResult-name {
  font-weight: bold;
}

.searchResult-link {
  display: block;
  padding: 5px;
}

.home-content {
  text-align: center;
}

.suggestion-item {
  color: white;
}

.suggestion-item {
  color: white;
  padding: 0;
  margin: 0;
}