.textcolor {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}

.actor {
  background-color: #242e42;
}

.role {
  background-color: #242e42;
}

.profile {
  height: 100%;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}