/* CUSTOM ELEMENTS
   ========================================================================== */
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

%h-100 {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

html {
  @extend %h-100;
}

body {
  @extend %h-100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}